@import './utils.scss';

@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

/* Width of the home container when in laptop view */
$hc-width-laptop: 85%;
/* Horizontal padding of home container when in laptop view; calculated based
off $hc-width-laptop in order to show the entire background picture */
$hc-padding-laptop: (100% - $hc-width-laptop) / 2;

#home-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  background: url('../assets/mobile-bg.jpg') no-repeat top center;
}

#home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0 auto;

  width: 90%;
  max-width: 400px;
  height: 100%;

  color: rgb(54, 54, 54);

  img.mobile-banner {
    width: 100%;
  }

  p {
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 2em;
    line-height: 1.5em;
  }

  #navigation-elems {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    font-family: 'Playfair Display', serif;
    font-size: 2.2em;

    background-color: rgba(0, 0, 0, 0.8);
    padding: 0.25em;

    a {
      color: white;
      text-decoration: none;
      padding: 0.05em 0.15em;
      margin: 5px;
    }
  }
}

/*
@media screen and (min-width: $laptop-width) {
  #home-container {
    background: url('../assets/watercolor-black-bg.jpg') no-repeat center;
  }

  #home-content {
    max-width: $laptop-width;
    width: $hc-width-laptop;
    padding: 0 $hc-padding-laptop;

    color: white;

    img.mobile-banner {
      display: none;
    }

    #navigation-elems {
      font-size: 3em;
      background: none;

      a {
        padding: 0.5em 1.15em;
        padding-bottom: 0.5em;
        margin: 0;

        border-bottom: 1px solid rgba(0, 0, 0, 0);
      }

      a:hover {
        border-bottom: 1px solid white;
      }
    }
  }
}
*/
