@import './utils.scss';
@import './fonts.scss';

@import './home.scss';

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  font-size: 11px;
}

@media screen and (min-width: $laptop-width) {
}
