@import './utils.scss';
@import './home.scss';

html, body, #root {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  font-size: 12px;
}

/*
@media screen and (max-width: $tablet-width) {
  body {
    font-size: 30px;
  }
}
*/
