@mixin article-container {
  #article-container {
    h1 {
      width: 100%;
      text-align: center;

      font-family: 'Playfair Display SC', serif;
      font-size: 5em;

      text-transform: uppercase;
    }

    h4 {
      font-size: 3em;
      font-family: 'Playfair Display', serif;

      text-align: center;

      text-transform: uppercase;
    }

    p {
      margin: 1em 0;
      font-size: 1.8em;
      font-family: 'Lora', serif;
      line-height: 1.85em;

      &.byline {
        margin: 1em auto;

        font-size: 2.35em;
        text-align: center;

        font-family: 'Playfair Display', serif;
      }
    }

    a {
      text-decoration: underline;

      transition: all 250ms ease-in-out;

      &:hover {
        background-color: $selectionColor;
        color: $selectionTextColor;
      }
    }

    video, img {
      width: 100%;
      object-fit: contain;

      + .caption {
        font-size: 1.3em;
        color: gray;
        font-style: italic;
      }
    }
  }
}

@media screen and (min-width: $laptop-width) {
  .wrap {
    max-width: 500px;

    &.left {
      float: left;
    }

    &.right {
      float: right;
    }
  }
}
