@mixin article-container {
  #article-container {
    h1 {
      width: 100%;
      text-align: center;

      font-family: 'Playfair Display SC', serif;
      font-size: 5em;

      text-transform: uppercase;
    }

    p {
      $contentFontSize: 1.8em;

      margin: 1em 0;
      font-size: $contentFontSize;
      font-family: 'Lora', serif;
      line-height: 1.75em;

      &.byline {
        margin: 1em auto;

        font-size: 2.35em;
        text-align: center;

        font-family: 'Playfair Display', serif;
      }
    }

    a {
      text-decoration: underline;

      transition: all 250ms ease-in-out;

      &:hover {
        background-color: $selectionColor;
        color: $selectionTextColor;
      }
    }
  }
}
