.footer {
  h1 {
    font-family: 'Playfair Display';
    font-weight: normal;
    font-size: 3em;
  }

  p {
    font-size: 1.7em;
    color: rgb(99, 99, 99);
    line-height: 1.7em;

    &.notice {
      background-color: #ececec;
      color: #444;
      font-size: 1.8em;
      padding: 0.25em;
    }
  }
}
